name: Build and push Docker image

on:  
 push: 
  branches: 
    - main   
        
env: 
 DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }} 
 DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }} 
 
jobs: 
 build: 
  runs-on: ubuntu-latest  
  steps:
   - name: Checkout code
     uses: actions/checkout@v3      
	 
   - name: Login to Docker Hub        
     uses: docker/login-action@v1       
     with:
       username: ${{ secrets.DOCKER_HUB_USERNAME }} 
       password: ${{ secrets.DOCKER_HUB_PASSWORD }}         
   
   - name: Build and push Docker image
     uses: docker/build-push-action@v2   
     with:
       context: .
       push: true
       tags: rajakumarmurugadurai/startx:v1
